@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Zoya Minhas</h1></n>
    <p><b>SAP ID: <b> 41574</p></n>
    <p><b>Subject: <b> Devop</p></n>    
     
</div>
